// Base

body {
  background: $body-bg;
  color: $text-color;
  padding-top: $navbar-height + $player-height + $player-padding * 2;
}

h2 {
  margin-top: 0;
}

footer {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 640px;
}
