// Variables

$body-bg: #fff;
$text-color: #333;
$player-color: #1b1b1b;
$player-button-color: #757575;

$navbar-height: 39px;

$player-width-sm: 640px;
$player-height-sm: ceil($player-width-sm * 0.5625) + 30px;
$player-width-lg: 800px;
$player-height-lg: ceil($player-width-lg * 0.5625) + 30px;
$player-padding: 10px;

// Media queries breakpoints
// Small screen / tablet
$screen-xs-min: 480px;
// Small screen / tablet
$screen-sm-min: 768px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / wide desktop
$screen-lg-min: 1200px;
