// Variables

$body-bg: #fff;
$text-color: #333;
$player-color: #1b1b1b;
$player-button-color: #757575;

$navbar-height: 39px;
$player-height: 390px;
$player-padding: 10px;

// Media queries breakpoints
// Small screen / tablet
$screen-xs-min: 480px;
// Small screen / tablet
$screen-sm-min: 768px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / wide desktop
$screen-lg-min: 1200px;
